@import "themes/themes.css";
* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font;
    font-weight: bold;
    font-size: 11px;
    min-height: 10px;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @text;
}

tooltip {
 background: @main-bg;
    color: @main-fg;
    border-radius: 7px;
    border-width: 0px;
}

#workspaces button {
    padding: 5px;
    color: @pastelred;
    margin-right: 5px;
}

#workspaces button.active {
    color: @orange;
}

#workspaces button.empty {
    color: @green;
}

#workspaces button.focused {
    color: @subtext0;
    background: @maroon;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @crust;
    background: @mauve;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @crust;
    color: @text;
    border-radius: 10px;
}

#custom-weather,
#custom-update,
#mpris,
#idle_inhibitor,
#cpu,
#memory,
#disk,
#temperature,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: @base;
    padding: 0px 5px;
    margin: 3px 0px;
    margin-top: 5px;
    border: 1px solid @mantle;
}

#clock {
    background: @base;
    padding: 0px 5px;
    margin: 3px 0px;
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid @mantle;
    border-radius: 10px 0px 0px 10px;
}

#workspaces {
    background: @base;
    border-radius: 10px;
    margin-left: 5px;
    padding-right: 0px;
    padding-left: 5px;
}

#window{
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#clock {
    color: @lavender;
}

#idle_inhibitor{
    color: @orange;
}

#cpu {
    color: @teal;
}

#memory {
    color: @green;
}

#disk {
    color: @yellow;
}

#temperature {
    color: @peach;
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
}

#temperature.critical {
    color: @red;
}

#custom-weather {
    border-radius: 10px;
    margin-left: 5px;
}

#custom-update{
    border-radius: 10px;
    margin-left: 5px ;
    color: @sky;
}

#mpris {
    color: @green;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

#network {
    color: @teal;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
    color: @green;
}

#pulseaudio.microphone {
    color: @yellow;
}

#battery {
    color: @maroon;
}

#backlight {
    color: @red;
}

#custom-power {
    color: @red;
	background: @base;
    padding: 0px 5px;
    margin: 3px 0px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid @mantle;
	
}

#custom-notification{
    background: @base;
    padding: 0px 5px;
    margin: 3px 0px;
    margin-top: 5px;
    border: 1px solid @mantle;
  color: @yellow;
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @mauve;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @flamingo;
    color: @sky;
    margin: 3px 0px;
    margin-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @mauve;
    color: @peach;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

